<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Filters</title>
</head>
<body>
    <h2>working with jinja2 filters</h2>

    {% for movie, duration in movies|dictsort(false, 'value') %}
        <ul>
            <li>{{movie|title}}: {{duration|round(1)}}</li>
        </ul>
    {% endfor %}

    <br>
    <ol type="1">
        <!--since name=None in python file, pass the default value here, set to true if you expect a none value in the variable -->
        <li>default :{{ name|default('value not defined', true) }}</li><br>
        <li>capital case: {{ film|capitalize }}</li><br>
        <li>title: {{ film|title }}</li><br>
        <li>length: {{movies|length}} items in the dictionary </li><br>
        <li>first item: {{ movies|first }}</li><br>
        <li>make a list: {{ film|list }}</li><br>
        <li>replace data: {{ film|replace('carol', 'cookie')|upper }}</li><br>
    </ol>

</body>
</html>