{% macro render_dict(dictionary) %}
    <table>
        <tr>
            <th>name</th>
            <th>value</th>
            <th>comments</th>
        </tr>
        {% for key, val in dictionary.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ val }}</td>
                {% if val <3 %}
                    <td>short</td>
                {% elif val >=3 and val <6 %}
                    <td>medium</td>
                {% else %}
                    <td style="...">long</td>
                {% endif %}

            </tr>
        {% endfor %}
    </table>
{% endmacro %}